@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "tailwindcss";

@theme {
  --font-inter: "Inter", sans-serif;
}

@utility bg-custom-gradient {
  background:
    linear-gradient(
        to right,
        rgba(245, 245, 245, 0.8),
        rgba(245, 245, 245, 0.8)
      )
      center center,
    url("/common-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
